<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
    <div class="panel.panel-default">
      <div class="panel-body">
        <%= form_with(model: mesa, local: true) do |form| %>
          <% if mesa.errors.any? %>
            <div class="alert alert-warning">
              <h3><%= mesa.errors.count %> Errores encontrados:</h3>

              <ul>
              <% mesa.errors.full_messages.each do |message| %>
                <li>EL campo <%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :nombre %>
            <%= form.text_field :nombre, id: :mesa_nombre , class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :descripcion %>
            <%= form.text_field :descripcion, id: :mesa_descripcion , class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :tipo %>
            <%= form.text_field :tipo, id: :mesa_tipo , class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :numero_pata %>
            <%= form.number_field :numero_pata, id: :mesa_numero_pata , class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :material %>
            <%= form.text_field :material, id: :mesa_material , class: 'form-control' %>
          </div>

          <div class="actions">
            <%= form.submit class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
