<%= form_with(model: mesa, local: true) do |form| %>
  <% if mesa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mesa.errors.count, "error") %> prohibited this mesa from being saved:</h2>

      <ul>
      <% mesa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :mesa_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :mesa_descripcion %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :mesa_tipo %>
  </div>

  <div class="field">
    <%= form.label :numero_pata %>
    <%= form.number_field :numero_pata, id: :mesa_numero_pata %>
  </div>

  <div class="field">
    <%= form.label :material %>
    <%= form.text_field :material, id: :mesa_material %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
