<%= content_for :title do %>
  <%= 'Lista de Mesas' %>
<% end %>

<div class="text-center">
  <h1>Mesas</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Tipo</th>
      <th>Numero pata</th>
      <th>Material</th>
      <th colspan="3" class="text-center">Operaciones</th>
    </tr>
  </thead>

  <tbody>
    <% @mesas.each do |mesa| %>
      <tr>
        <td><%= mesa.nombre %></td>
        <td><%= mesa.descripcion %></td>
        <td><%= mesa.tipo %></td>
        <td><%= mesa.numero_pata %></td>
        <td><%= mesa.material %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, mesa, class:'btn btn-info' %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_mesa_path(mesa), class:'btn btn-warning' %></td>
        <td><%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, mesa, 
          method: :delete, 
          class: 'btn btn-danger',
          data: { confirm: 'Deseas eliminar la mesa '+mesa.nombre+'?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
