<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @mesa.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @mesa.descripcion %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @mesa.tipo %>
</p>

<p>
  <strong>Numero pata:</strong>
  <%= @mesa.numero_pata %>
</p>

<p>
  <strong>Material:</strong>
  <%= @mesa.material %>
</p>

<%= link_to 'Edit', edit_mesa_path(@mesa) %> |
<%= link_to 'Back', mesas_path %>
