<%= content_for :title do %>
  <%= 'Detalle' %>
<% end %>

<div class="text-center">
  <h1>Detalle de mesa <strong><%= @mesa.nombre %></strong></h1>
</div>

<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
    <div class="panel.panel-default">
      <div class="panel-body">
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading"><strong>Nombre</strong></h4>
            <p class="list-group-item-text"><%= @mesa.nombre %></p>
          </div>

          <div class="list-group-item">
            <h4 class="list-group-item-heading"><strong>Descripcion</strong></h4>
            <p class="list-group-item-text"><%= @mesa.descripcion %></p>
          </div>

          <div class="list-group-item">
            <h4 class="list-group-item-heading"><strong>Tipo</strong></h4>
            <p class="list-group-item-text"><%= @mesa.tipo %></p>
          </div>

          <div class="list-group-item">
            <h4 class="list-group-item-heading"><strong>Patas</strong></h4>
            <p class="list-group-item-text"><%= @mesa.numero_pata %></p>
          </div>

          <div class="list-group-item">
            <h4 class="list-group-item-heading"><strong>Material</strong></h4>
            <p class="list-group-item-text"><%= @mesa.material %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>