<%= content_for :title do %>
  <%= 'Registro' %>
<% end %>

<div class="text-center">
  <h1>Registrate aquí</h1>
</div>

<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
    <div class="panel.panel-default">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <% unless resource.errors.empty? %>
            <div class="alert alert-warning">
              <%= devise_error_messages! %>
            </div>
          <% end %>
          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, placeholder: 'First name', class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>minimo <%= @minimum_password_length %> caracteres</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Registrate", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <p>
          <%= '¿Ya registrado? Iniciar sesión '%>
          <%= link_to('aquí', new_user_session_path) %>
        </p>
      </div>
    </div>
  </div>
</div>