<%= content_for :title do %>
  <%= 'Iniciar Sesión' %>
<% end %>

<div class="text-center">
  <h1>Iniciar Sesión</h1>
</div>

<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
    <div class="panel.panel-default">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control input-lg' %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <label>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </label>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Iniciar Sesión", class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <p>
          <%= '¿Nuevo? Regístrese ahora haciendo click ' %>
          <%= link_to('aquí', new_user_registration_path)%>
        </p>
      </div>
    </div>
  </div>
</div>