<ul class="nav navbar-nav">
  <% if current_user %>
    <li>
      <%= link_to('<span class="glyphicon glyphicon-th-large"></span>Mesas'.html_safe,mesas_path) %>
    </li>
    <li>
      <%= link_to('<span class="glyphicon glyphicon-share"></span>Nueva Mesa'.html_safe,new_mesa_path) %>
    </li>
  <% end %>
</ul>
<ul class="nav navbar-nav navbar-right">
  <% if current_user %>
    <li>
      <span class="navbar-text">
        <strong><%= t('welcome') %></strong>
        <%=  %>
        <%= current_user.full_name %>
      </span>
    </li>
    <li>
      <%= link_to('<span class="glyphicon glyphicon-cog"></span> Settings'.html_safe, edit_user_registration_path)%>
    </li>
    <li>
      <%= link_to('<span class="glyphicon glyphicon-off"></span> Log out'.html_safe, destroy_user_session_path, method: 'delete') %>
    </li>
  <% else %>
    <li>
      <%= link_to('<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, new_user_session_path) %>
    </li>
    <li>
      <%= link_to('<span class="glyphicon glyphicon-saved"></span> Register'.html_safe, new_user_registration_path) %>
    </li>
  <% end %>
</ul>